.flex-container {
  --grid-v-gap: 32px;
  --grid-h-gap: 32px;
  --item-min-width: 100px;
  --line-thickness: 2px;
  --line-radius: calc(var(--grid-h-gap) * 2); }

.flex-container {
  display: grid;
  /*define the number of column*/
  grid-auto-flow: dense;
  /* this is important to fill all the space*/
  grid-row-gap: var(--grid-v-gap);
  grid-column-gap: var(--grid-h-gap);
  /* padding: 10px; */
  margin-right: calc(var(--line-thickness) + var(--grid-h-gap));
  margin-left: calc(var(--line-thickness) + var(--grid-h-gap)); }

.item {
  position: relative; }
  .item::before, .item::after {
    border-width: var(--line-thickness);
    display: block;
    position: absolute; }
  .item::after {
    content: ""; }
