@import "snake";

body {
    background-color: darkslategrey;
}
$grid-h-gap: 30px;
$item-min-width: 90px;

.flex-container {
    background: orange;
    --grid-h-gap: #{$grid-h-gap};
    --item-min-width: #{$item-min-width};
    --line-thickness: 6px;
}

.item {
    min-width: var(--item-min-width);
    background: black;
    height: 80px;
    line-height: 80px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    &::before,
    &::after {
        color: red;
        font-size: 14px;
        border-style: double;
        //line-height: 100%;
    }
    &::after {
        color: red;
    }
    &::before {
        color: green;
    }
    & > div {
        display: none;
    }
}

@include auto-cols(1920px, $item-min-width, $grid-h-gap);
