body {
    font: 400 14px "Arial", sans-serif;
    counter-reset: num;
    box-sizing: border-box;
}

:root {
    --grid-v-gap: 20px;
    --grid-h-gap: 20px;
    --line-thickness: 5px;
}

.flex-container {
    /* width: 500px; */
    background: orange;
    display: grid;
    /*define the number of column*/
    grid-auto-flow: dense;
    /* this is important to fill all the space*/
    grid-row-gap: var(--grid-v-gap);
    grid-column-gap: var(--grid-h-gap);
    /* padding: 10px; */
    margin-right: var(--grid-h-gap);
    margin-left: var(--grid-h-gap);
}

.item {
    background: purple;
    height: 80px;
    line-height: 80px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    position: relative;
}

/* .item:before {
    content: counter(num);
    counter-increment: num;
  } */

.item:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    width: calc(100% + var(--grid-h-gap));
    height: 0px;
    border-bottom: var(--line-thickness) solid darkgray;
}

@mixin gridify($cols) {
    .flex-container {
        grid-template-columns: repeat($cols, 1fr);
    }

    @for $i from 0 through $cols - 1 {
        .item:nth-child(#{$cols * 2}n + #{$cols + 1 + $i}) {
            grid-column: #{$cols - $i};
        }
    }

    .item:nth-child(#{$cols * 2}n + #{$cols}):after {
        /*odd line: from even line right top to bottom line right  (the -| line)*/
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translateY(calc(-0.5 * var(--line-thickness)));
        border: var(--line-thickness) solid green;
        border-top-right-radius: calc(var(--grid-h-gap) * 2);
        border-left: none;
        border-bottom: none;
        width: calc(50% + var(--grid-h-gap));
        height: calc((100% + var(--grid-v-gap)) * 0.5);
    }
    .item:nth-child(#{$cols * 2}n + #{$cols + 1}):after {
        /*even line: the right most to the previous (visually) (the - line)*/
        left: calc(-50% - var(--grid-h-gap));
        z-index: 4;
        border-bottom: var(--line-thickness) solid aquamarine;
    }
    .item:nth-child(#{$cols * 2}n + #{$cols + 1}):before {
        /*odd line: from odd line right bottom to even line right  (the _| line*/
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        bottom: 50%;
        left: 50%;
        transform: translateY(calc(0.5 * var(--line-thickness)));
        border: var(--line-thickness) solid magenta;
        border-bottom-right-radius: calc(var(--grid-h-gap) * 2);
        border-left: none;
        border-top: none;
        width: calc(50% + var(--grid-h-gap));
        height: calc((100% + var(--grid-v-gap)) * 0.5);
    }

    .item:nth-child(#{$cols * 2}n):after {
        /*even line: from even line left  to odd line right  (the |- line*/
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 50%;
        transform: translateY(calc(-0.5 * var(--line-thickness)));
        border: var(--line-thickness) solid red;
        border-top-left-radius: calc(var(--grid-h-gap) * 2);
        border-right: none;
        border-bottom: none;
        width: calc(50% + var(--grid-h-gap));
        height: calc((100% + var(--grid-v-gap)) * 0.5);
    }
    .item:nth-child(#{$cols *2}n + 1):before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        bottom: 50%;
        right: 50%;
        transform: translateY(calc(0.5 * var(--line-thickness)));
        border: var(--line-thickness) solid blue;
        border-bottom-left-radius: calc(var(--grid-h-gap) * 2);
        border-right: none;
        border-top: none;
        width: calc(50% + var(--grid-h-gap));
        height: calc((100% + var(--grid-v-gap)) * 0.5);
    }

    .item:first-child:before {
        border: none;
    }
    .item:last-child:after {
        border: none;
    }
}

@media screen and (max-width: 200px) {
    @include gridify(1);
}
 
@media screen and (min-width: 201px) and (max-width: 300px) {
    @include gridify(2);
}
 
@media screen and (min-width: 301px) and (max-width: 460px) {
    @include gridify(3);
}

@media screen and (min-width: 461px) and (max-width: 720px) {
    @include gridify(4);
}

@media screen and (min-width: 721px) and (max-width: 960px) {
    @include gridify(5);
}
@media screen and (min-width: 961px) and (max-width: 1080px) {
    @include gridify(6);
}

@media screen and (min-width: 1081px) {
    @include gridify(7);
}
